<?xml version="1.0"?>
<!--
/**
 * Twispay_Payments default configuration
 *
 * @category    Twispay
 * @package     Twispay_Payments
 * @author      Webliant Software
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <twispay>
        <debug>1</debug>
        <active>1</active>
        <title>Twispay</title>
        <model>Twispay\Payments\Model\Twispay</model>
        <order_status>pending_payment</order_status>
        <payment_action>authorize_capture</payment_action>
        <live_mode>0</live_mode>
        <live_site_id/>
        <live_private_key/>
        <staging_site_id/>
        <staging_private_key/>
        <success_page/>
        <contact_email/>
        <email_invoice>0</email_invoice>
      </twispay>
    </payment>
  </default>
</config>
