<?xml version="1.0"?>
<!--
/**
 * Twispay_Payments default configuration
 *
 * @category    Twispay
 * @package     Twispay_Payments
 * @author      Webliant Software
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <twispay>
        <debug>1</debug>
        <active>1</active>
        <title>Twispay</title>
        <model>Twispay\Payments\Model\Twispay</model>
        <live_mode>0</live_mode>
        <live_site_id/>
        <live_private_key/>
        <live_redirect_url>https://secure.twispay.com</live_redirect_url>
        <staging_site_id/>
        <staging_private_key/>
        <staging_redirect_url>https://secure-stage.twispay.com</staging_redirect_url>
        <success_page/>
        <contact_email/>
        <email_invoice>0</email_invoice>
        <back_url>twispay/checkout/backpayment</back_url>
      </twispay>
    </payment>
  </default>
</config>
