<?xml version="1.0"?>
<!--
/**
 * Twispay Payments dependency injection configuration
 *
 * @category    Twispay
 * @package     Twispay_Payments
 * @author      Webliant Software
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

  <type name="Twispay\Payments\Logger\Handler">
    <arguments>
      <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
    </arguments>
  </type>

  <type name="Twispay\Payments\Logger\Logger">
    <arguments>
      <argument name="name" xsi:type="string">twispayLogger</argument>
      <argument name="handlers" xsi:type="array">
        <item name="system" xsi:type="object">Twispay\Payments\Logger\Handler</item>
      </argument>
    </arguments>
  </type>

  <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
    <plugin name="beforeSavePaymentInformationAndPlaceOrderGuest" type="Twispay\Payments\Plugin\GuestPaymentInformationManagement" />
  </type>
  <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
    <plugin name="beforeSavePaymentInformationAndPlaceOrderGuest" type="Twispay\Payments\Plugin\PaymentInformationManagement" />
  </type>
  <type name="Magento\Framework\App\Request\CsrfValidator">
    <plugin name="csrf_validator_skip" type="Twispay\Payments\Plugin\CsrfValidatorSkip" />
  </type>
</config>
