<?xml version="1.0"?>
<!--
/**
 * Twispay_Payments DI definitions
 *
 * @category    Twispay
 * @package     Twispay_Payments
 * @author      Webliant Software
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--
    <virtualType name="Twispay\Payments\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="twispay" xsi:type="const">Twispay\Payments\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="twispay_config_provider" xsi:type="object">Twispay\Payments\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
-->
</config>
