<!--
/**
 * Twispay payment method model
 *
 * @category    Twispay
 * @package     Twispay_Payments
 * @author      Webliant Software
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">			
				<form accept-charset="UTF-8" action="https://secure-stage.twispay.com" method="post">
					<input name="siteId" type="text" data-bind="value: site_id" />
					<input name="identifier" type="text" value="_3" />
					<input name="amount" type="text" data-bind="value: amount" />
					<input name="currency" type="text" data-bind="value: currency" />
					<input name="description" type="text" value="Subscription" />
					<input name="orderType" type="text" value="purchase" />
					<input name="orderId" type="text" value="89" />
					<input name="backUrl" type="text" data-bind="value: getBackUrl()"/>
					<input name="checksum" type="text" value="5UR5sUYGYjg9b+AqWjKc6VFNiqpfqd3LUsUCM7/eJU6WKHxlSdEem2ImhDtUH54KgQ9m1v+QRhSiucakWyX93w==" />							
					<button class="action primary checkout" type="submit" data-bind="click: redirectToTwispay">
						<span data-bind="i18n: 'Continue to Twispay'"></span>
					</button>
				</form>
            </div>
        </div>
    </div>
</div>
        