<?xml version="1.0"?>
<!--
/**
 * Twispay_Payments admin configuration
 *
 * @category    Twispay
 * @package     Twispay_Payments
 * @author      Webliant Software
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="twispay" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Twispay</label>
        <field id="live_mode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Live mode</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>

        <field id="staging_site_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Staging Site ID</label>
          <comment><![CDATA[Enter the Site ID for Staging Mode. You can get one from <a href="https://merchant-stage.twispay.com/login">here</a>.]]></comment>
          <depends>
            <field id="live_mode">0</field>
          </depends>
        </field>
        <field id="staging_private_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Staging Private Key</label>
          <comment><![CDATA[Enter the Private Key for Staging Mode. You can get one from <a href="https://merchant-stage.twispay.com/login">here</a>.]]></comment>
          <depends>
            <field id="live_mode">0</field>
          </depends>
        </field>

        <field id="live_site_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Live Site ID</label>
          <comment><![CDATA[Enter the Site ID for Live Mode. You can get one from <a href="https://merchant.twispay.com/login">here</a>.]]></comment>
          <depends>
            <field id="live_mode">1</field>
          </depends>
        </field>
        <field id="live_private_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Live Private Key</label>
          <comment><![CDATA[Enter the Private Key for Live Mode. You can get one from <a href="https://merchant.twispay.com/login">here</a>.]]></comment>
          <depends>
            <field id="live_mode">1</field>
          </depends>
        </field>

        <field id="s_t_s_notification" translate="label" type="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Server-to-server notification URL</label>
          <comment><![CDATA[You must copy this <a href="/tpay/payment/server/">link</a> and add it in your merchant account with the Twispay Payment Gateway.]]></comment>
        </field>
        <field id="success_page" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Succes page key</label>
            <comment><![CDATA[Create a new page to be used for displaying a succesful transaction and paste the URL key here.]]></comment>
        </field>
        <field id="contact_email" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Contact email(Optional)</label>
          <comment><![CDATA[This email will be used on the payment error page.]]></comment>
        </field>
        <field id="email_invoice" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>E-mail invoice to customer</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <comment><![CDATA[If this is option is enabled Magento will send a payment confirmation email.]]></comment>
        </field>
      </group>
    </section>
  </system>
</config>
